/* *{
    margin: 0;
    padding: 0;
} */

body{font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 120px;
}

article, header, nav, section, aside, footer{
    background:#ebebeb;
    display: block;
    min-height: 80px;
    outline: 1px solid #000;
    /* background: hsla(200, 30%, 30%, .4); */
}


article{
    color: #ebebeb;
    background: #777;
    text-align: center;
}

section{
    width: 495px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1em;
    height: 350px;
}

aside{
    float: right;
    width: 400px;
    margin-top: 15px;
    text-align: center;
    height: 350px;
}

footer{
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 1em;
}

h1, p {
    color: #777;
    background: #ebebeb;
}
header{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 1em;
    
}
nav{
    width: 100%;
    margin:10px, 0, 20px, 0;
    text-align: center;
    padding: 1em;
}
